.contact-links{
  display: flex;
  justify-content: center;
  color: black;
}

.contact-links a, p{
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: center;
  color: black;
}

@media (max-width: 912px){
  .contact-links a, p{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}