img{
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}
.card{
  background-color: #dbf4ad;
}
.card-content, .card-title{
  text-align: center;
}